<!DOCTYPE html>
<html>
    <head>
        <title>crud_01</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container"><br>
            <form method="post" action="/update/{{user.id}}">
                <h1 style="color:darkgreen;background-color:cyan;text-align:center"><marquee>Registration-Form</marquee></h1>
                {% csrf_token %}
                <div class="form-group">
                    <label><b>Username:</b></label>
                    <input type="text" name="uname" value="{{user.uname}}" class="form-control"></input>
                </div>
                <div class="form-group">
                    <label><b>User email:</b></label>
                    <input type="text" name="uemail" value="{{user.uemail}}" class="form-control"></input>
                </div>
                <div class="form-group">
                    <label><b>User password:</b></label>
                    <input type="text" name="upassword" value="{{user.upassword}}" class="form-control"></input>
                </div>
            <input type="submit" name="update" value="Update" class="btn btn-success"></input>
            </form>


        </div>
    </body>
</html>